.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 30px;
  background-color: #f9f9f9;
}

.card{
    width:250px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
    overflow:hidden;
    text-align:center;
    margin:20px auto;
    transition:transform 0.3s ease, box-shadow 0.3s ease;
    font-family:"Poppins", sans-serif;
}
.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}
.card img{
    width:100%;
    height:250px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}
.card h2{
    font-size: 1.3rem;
    color:#555;
    margin-bottom: 12px 0 6px;
}
.card p {
     font-size: 1rem;
    color:#555;
    margin-bottom: 12px;
}
@meda (max-width: 500px){
    .card{
        width:90%;
    }
}
.card img{
    height: 200px;
}
button{
    width: 50%;
    margin-bottom: 5px;
}