.register-container{
    width: 450px;
    margin:80px;
    margin-left: 500px;
    padding: 30px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
   

}
.register-container h2{
    text-align: center;
    color: aqua;
    margin-bottom: 20px;
}
.register-form
{
    display: flex;
    flex-direction: column;
}
.register-form label{
    margin-top:10px;
    color:#555;
    font-weight: bold;
}
.register-form input{
    padding: 10px;
    margin-top: 5px;
    border:1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}
.register-form input:focus{
    border-color: #007bff;
    outline:none;
}
button{
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color:white;
    border:none;
    border-radius: 8px;
    font-size: 16px;
    cursor:pointer;
}
button:hover{
    background:#0056b3;
}